
.container-fluid{
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
}
.row{
    min-height: 50vh;
    text-align: center;
}
span{
    cursor: pointer;
    font-family: 'prettyFont'; /*a name to be used later*/
}
.active{
    animation: moveIn ease-in-out .5s ;
}
#footer{
    position: sticky;
    top:95vh;
}
.responsiveFont{
    font-size: 20px;
}
@font-face {
    font-family: 'prettyFont'; /*a name to be used later*/
    src: url("/assets/pretty_font.ttf"); /*URL to font*/
}
@keyframes moveIn{
    0%{
        transform: translateY(-42px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@media (min-width:1000px){
    .responsiveFont{
        font-size: 40px;
    }
}
