<div class="container-fluid">
    <div class="row">
        <div class="col-6 my-auto">
            <span routerLink="/rusflix"><p class="responsiveFont">Rusflix</p></span>
        </div>
        <div class="col-6 my-auto">
            <span routerLink="/prostogramm"><p class="responsiveFont">Prostogramm</p></span>
        </div>
        <div class="col-6 my-auto">
            <span><p class="responsiveFont">online-ЛАБАЗ</p></span>
        </div>
        <div class="col-6 my-auto">
            <span routerLink="/slavehunter"><p class="responsiveFont">SomeHunter</p></span>
        </div>
    </div>
    <div class="text-center">
        <span><h4>Согласен. Стартовая страница могла бы быть и симпатичнее</h4>
            <h5>Но она отражает мою философию минимализма</h5>
            <h5>Я делаю только то, что от меня требуется</h5>
            <h5>Я не навязываю услуги. Только слушаю заказчика</h5>
            <h5>Лишнего не беру</h5>
        </span>
    </div>

    <div id="footer"  class="text-center"><span><p>Если я, все же, не был таким скучным, то моя страница выглядила бы так. Наверное <fa-icon class="my-auto" [icon]="faLink"></fa-icon></p></span></div>
    

</div>
