<nav>
    <div class="row">
        <div class="col-6 col-lg-4 d-flex justify-content-end my-auto">
            <h4 class="prettyFont">Pro100gramm</h4>
        </div>
        <div class="col-1 col-lg-4 d-flex justify-content-end">
            <form class="form-inline">
                <input class="form-control mr-sm-2 d-none d-lg-block" type="search" placeholder="Search" aria-label="Search">
              </form>
        </div>
        <div class="col-5 col-lg-4 d-flex justify-content-start">
            <fa-icon class="my-auto" [icon]="faHome"></fa-icon>
            <fa-icon class="my-auto" [icon]="faPaperPlane"></fa-icon>
            <fa-icon class="my-auto" [icon]="faCompass"></fa-icon>
            <fa-icon class="my-auto" [icon]="faHeart"></fa-icon>
            <fa-icon class="my-auto" [icon]="faUserCircle"></fa-icon>
        </div>
    </div>
</nav>