
<div class="container-fluid">
    <div class="dropmenu text-center d-md-none">
        <h3>Меню</h3>
        <ul>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
        </ul>
        <h3>Меню</h3>
        <ul>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
        </ul>
        <h3>Меню</h3>
        <ul>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
            <li>Элемент меню</li>
        </ul>
    </div>

<div class="row d-md-none py-1">
    <div class="col-12 input-group">
        <input type="text" aria-label="Last name" class="form-control" placeholder="">
        <div class="input-group-append">
            <span class="input-group-text bg-primary"><fa-icon [icon]="faSearch"></fa-icon></span>
        </div>
    </div>
</div>
   


<section class="component-wrapper">
    <h2>Рекомендации</h2>
    <div class="row">
        <div class="col-6 col-md-4 col-xl-3">
            <div class="card mb-3" style="width: 100%;">
                <div class="card-header bg-transparent">
                    <h6>WEB-разработчик (Angular 2+)</h6>
                </div>
                <div class="card-body">
                  <p class="card-text">от 70000 до 90000 рублей</p>
                </div>
                <div class="card-footer bg-transparent text-muted">ИП Ипполит</div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <div class="card mb-3" style="width: 100%;">
                <div class="card-header bg-transparent">
                    <h6>Верстальщик HTML (удаленно)</h6>
                </div>
                <div class="card-body">
                  <p class="card-text">от 45000 до 50000 рублей</p>
                </div>
                <div class="card-footer bg-transparent text-muted">ООО "УУУ"</div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <div class="card mb-3" style="width: 100%;">
                <div class="card-header bg-transparent">
                    <h6>Backend-developer (MEAN stack)</h6>
                </div>
                <div class="card-body">
                  <p class="card-text">2000 USD</p>
                </div>
                <div class="card-footer bg-transparent text-muted">Booble</div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <div class="card mb-3" style="width: 100%;">
                <div class="card-header bg-transparent">
                    <h6>Frontend-разработчик</h6>
                </div>
                <div class="card-body">
                  <p class="card-text">60000 рублей</p>
                </div>
                <div class="card-footer bg-transparent text-muted">АО "ОА"</div>
            </div>
        </div>
    </div>


    <h2>Вакансии дня</h2>
    <div class="row">
        <div class="col-6 col-md-4 col-xl-3">
            <div class="card mb-3" style="width: 100%;">
                <div class="card-header bg-transparent">
                    <h6>WEB-разработчик (Angular 2+)</h6>
                </div>
                <div class="card-body">
                  <p class="card-text">от 70000 до 90000 рублей</p>
                </div>
                <div class="card-footer bg-transparent text-muted">ИП Ипполит</div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <div class="card mb-3" style="width: 100%;">
                <div class="card-header bg-transparent">
                    <h6>Верстальщик HTML (удаленно)</h6>
                </div>
                <div class="card-body">
                  <p class="card-text">от 45000 до 50000 рублей</p>
                </div>
                <div class="card-footer bg-transparent text-muted">ООО "УУУ"</div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <div class="card mb-3" style="width: 100%;">
                <div class="card-header bg-transparent">
                    <h6>Backend-developer (MEAN stack)</h6>
                </div>
                <div class="card-body">
                  <p class="card-text">2000 USD</p>
                </div>
                <div class="card-footer bg-transparent text-muted">Booble</div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <div class="card mb-3" style="width: 100%;">
                <div class="card-header bg-transparent">
                    <h6>Frontend-разработчик</h6>
                </div>
                <div class="card-body">
                  <p class="card-text">60000 рублей</p>
                </div>
                <div class="card-footer bg-transparent text-muted">АО "ОА"</div>
            </div>
        </div>
    </div>
</section>
    
</div>
    

