<div>
    <div class="line">
    <span class="arrow-nav-back" style="position: sticky;">
        <fa-icon class="my-auto" [icon]="faAngleLeft" (click)="scrollBack()"></fa-icon>
    </span>
    <div class="segment">
        <div class="circle">
            <div class="inner">

            </div>
        </div>
    </div>
    <div class="segment">
        <div class="circle">
            <div class="inner">

            </div>
        </div>
    </div>
    <div class="segment">
        <div class="circle">
            <div class="inner">

            </div>
        </div>
    </div>
    <div class="segment">
        <div class="circle">
            <div class="inner">

            </div>
        </div>
    </div>
    <div class="segment">
        <div class="circle">
            <div class="inner">

            </div>
        </div>
    </div>
    <div class="segment">
        <div class="circle">
            <div class="inner">

            </div>
        </div>
    </div>
    <div class="segment">
        <div class="circle">
            <div class="inner">

            </div>
        </div>
    </div>
    <div class="segment">
        <div class="circle">
            <div class="inner">

            </div>
        </div>
    </div>
    <div class="segment">
        <div class="circle">
            <div class="inner">

            </div>
        </div>
    </div>
    <div class="segment">
        <div class="circle">
            <div class="inner">

            </div>
        </div>
    </div>
    <div class="segment">
        <div class="circle">
            <div class="inner">

            </div>
        </div>
    </div>
    <span class="arrow-nav-forward" style="position: sticky;">
        <fa-icon class="my-auto" [icon]="faAngleRight" (click)="scrollForward()"></fa-icon>
    </span>
</div>
</div>


