.bg-light{
    background-image:url("https://images.pexels.com/photos/7369/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") ;
    background-size: cover;
}
ul{
    list-style-type: none;
}