<div class="row h-100" style="height: 90px;">
    <div class="col-2">
        <div class="bg-light" style="height: 90px;width:90px;border-radius: 90px;">

        </div>
    </div>
    <div class="col-10 my-auto">
        <p class="text-muted font-weight-bold">Alisher Yusupov</p>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <span class="text-muted">Рекоммендации для вас</span>
    </div>
    <div class="col-2">
        <span class="text-muted">Все</span>
    </div>
    <ul style="width: 100%;">
        <li>
            <div class="row h-100">
                <div class="col-4">
                    <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQf2j71u2ipMbi4uUIcRaomOvJOSPkvvUPWFA&usqp=CAU" style="width: 40px;" alt="user">
                </div>
                <div class="col-4 my-auto">
                    <span class="font-weight-bold">ruslan_007</span>
                </div>
                <div class="col-4 my-auto">
                    <span class="text-muted">подписаться</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row h-100">
                <div class="col-4">
                    <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQf2j71u2ipMbi4uUIcRaomOvJOSPkvvUPWFA&usqp=CAU" style="width: 40px;" alt="user">
                </div>
                <div class="col-4 my-auto">
                    <span class="font-weight-bold">ruslan_008</span>
                </div>
                <div class="col-4 my-auto">
                    <span class="text-muted">подписаться</span>
                </div>
            </div>
        </li>
        <li>

        </li>
    </ul>
</div>

