<nav>

    <div class="row no-gutters lineOne">
        <div class="col-0 col-md-2"></div>
        <div class="col-6 col-md-4 d-flex">
            <ul class="text-muted font-weight-bold">
                <li><img src="assets/slavehunter/SH_LOGO.svg" width="48px" style="margin-left:0px"></li>
                <li class="d-none d-md-block alignV">Помощь</li>
            </ul>
        </div>
        <div class="col-6 col-md-4 d-flex justify-content-end">
            <ul class="text-muted font-weight-bold">
                <li class="alignV d-none d-md-block"><span class="bordered">Создать</span></li>
                <li class="alignV"><span class="bordered">Войти</span></li>
                <li class="alignV d-block d-md-none"><span class="bordered" (click)="menuClicked()">...</span></li>
            </ul>
        </div>
        <div class="col-0 col-md-2"></div>
    </div>


    <div class="d-none d-md-block">
        <div class="row lineTwo">
            <div class="col-2 col-md-3"></div>
            <div class="col-8 col-md-6 input-group">
                <label style="width: 100%;" for="closestInput"><h1>Работа найдется</h1></label>
                <input id="closestInput" type="text" aria-label="Last name" class="form-control" placeholder="">
                <div class="input-group-append">
                    <span class="input-group-text bg-primary">Найти работу</span>
                </div>
            </div>
            <div class="col-2 col-md-3"></div>
        </div>
    </div>
    
    
        <div class="row d-none d-md-block lineThree">
            <div class="col-12">
                <ul>
                    <li>1234567<br>эпичные цифры</li>
                    <li>7654321<br>эпичные цифры</li>
                </ul>
            </div>
        </div>
    

</nav>