<div class="card border-dark mb-3">
    <div class="card-header bg-transparent border-dark text-left" style="float: left;">
      <div class="row h-100">
        <div class="outline col-2 col-md-1 col-lg-3 col-xl-1">
          <div class="circle">
            <div class="inner">
            </div>
          </div>
        </div>
        <div class="outline col-8 col-md-10 col-lg-7 col-xl-9 my-auto">
            <p class="text-muted font-weight-bold my-auto" style="padding-left: 3px;">Yusupoff_</p>
        </div>
        <div class="outline col-2 col-md-1 col-lg-2 col-xl-2 my-auto">
          <fa-icon class="my-auto" [icon]="faEllipsisH"></fa-icon>
        </div>
      </div>
    </div>
    <div class="card-body">
      <img class="img-fluid" src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_960_720.jpg">
    </div>
    <div class="card-footer bg-transparent border-dark text-left">
            <fa-icon class="my-auto" [icon]="faPaperPlane"></fa-icon>
            <fa-icon class="my-auto" [icon]="faComment"></fa-icon>
            <fa-icon class="my-auto" [icon]="faHeart"></fa-icon>
    </div>
</div>

<div class="card border-dark mb-3">
  <div class="card-header bg-transparent border-dark text-left" style="float: left;">
    <div class="row h-100">
      <div class="outline col-2 col-md-1 col-lg-3 col-xl-1">
        <div class="circle">
          <div class="inner">
          </div>
        </div>
      </div>
      <div class="outline col-8 col-md-10 col-lg-7 col-xl-9 my-auto">
          <p class="text-muted font-weight-bold my-auto"  style="padding-left: 3px;">Yusupoff_</p>
      </div>
      <div class="outline col-2 col-md-1 col-lg-2 col-xl-2 my-auto">
        <fa-icon class="my-auto" [icon]="faEllipsisH"></fa-icon>
      </div>
    </div>
  </div>
  <div class="card-body">
    <img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/11/29/06/15/plans-1867745_960_720.jpg">
  </div>
  <div class="card-footer bg-transparent border-dark text-left">
          <fa-icon class="my-auto" [icon]="faPaperPlane"></fa-icon>
          <fa-icon class="my-auto" [icon]="faComment"></fa-icon>
          <fa-icon class="my-auto" [icon]="faHeart"></fa-icon>
  </div>
</div>

<div class="card border-dark mb-3">
  <div class="card-header bg-transparent border-dark text-left" style="float: left;">
    <div class="row h-100">
      <div class="outline col-2 col-md-1 col-lg-3 col-xl-1">
        <div class="circle">
          <div class="inner">
          </div>
        </div>
      </div>
      <div class="outline col-8 col-md-10 col-lg-7 col-xl-9 my-auto">
          <p class="text-muted font-weight-bold my-auto"  style="padding-left: 3px;">Yusupoff_</p>
      </div>
      <div class="outline col-2  col-md-1 col-lg-2 col-xl-2 my-auto">
        <fa-icon class="my-auto" [icon]="faEllipsisH"></fa-icon>
      </div>
    </div>
  </div>
  <div class="card-body">
    <img class="img-fluid" src="https://cdn.pixabay.com/photo/2014/09/19/12/30/pencils-452238_960_720.jpg">
  </div>
  <div class="card-footer bg-transparent border-dark text-left">
          <fa-icon class="my-auto" [icon]="faPaperPlane"></fa-icon>
          <fa-icon class="my-auto" [icon]="faComment"></fa-icon>
          <fa-icon class="my-auto" [icon]="faHeart"></fa-icon>
  </div>
</div>
