<div class="container-fluid">
    <div class="row upperPart">
            <div class="col-6 text-left">
                <h3 class="ml-3 my-3 logo">RUSFLIX</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-danger mr-3 my-3">SIGN IN</a>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-1 col-sm-2 col-md-3 col-lg-4"></div>
                <div class="col-10 col-sm-8 col-md-6 col-lg-4 text-center">
                    <h2>Unlimited movies, TV shows, and more.</h2>
                    <h3>Watch anywhere. Cancel anytime.</h3>
                    <h4>Ready to watch? Enter your email to create or restart your membership.</h4>

                    <div class="input-group">
                        <input type="text" aria-label="Last name" class="form-control" placeholder="your e-mail">
                        <div class="input-group-append">
                            <span class="input-group-text custom bg-danger">Try 30 days free</span>
                        </div>
                    </div>
                    <h6 class="custom">Only new members are eligible for this offer.</h6>

                </div>
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"></div>
                </div>
            </div>
    </div>
            
    <div class="row middle-part d-flex h-100">
        <div class="col-12 col-md-6 text-center my-auto">
                    <h2>Enjoy on your TV.</h2>
                    <h3>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</h3>
        </div>
        <div class="col-12 col-md-6" style="position: relative;">
            <img src="assets/rusflix/tv.png" alt="rusflix" style="z-index: 2;position: relative;width: 100%;">
            <div class="videoHolder">
                <video src="assets/rusflix/video.m4v" autoplay="true" loop="true"></video>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>